<div class="container my-3">
  <mat-card>
    <mat-card-header style="margin-bottom: 10px">
      <mat-card-title>Update Voter</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="name"
            placeholder="Name"
            [(ngModel)]="voter.name"
          />
          <mat-error *ngIf="updateForm.get('name')?.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="email"
            placeholder="Email"
            type="email"
            [(ngModel)]="voter.email"
          />
          <mat-error *ngIf="updateForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="updateForm.get('email')?.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Register As</mat-label>
          <mat-select
            formControlName="registerAs"
            placeholder="Select"
            [(ngModel)]="voter.registerAs"
          >
            <mat-option value="Candidate">Candidate</mat-option>
            <mat-option value="Voter">Voter</mat-option>
          </mat-select>
          <mat-error *ngIf="updateForm.get('registerAs')?.hasError('required')">
            Please select a registration type
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="password"
            placeholder="Password"
            type="password"
          />
          <mat-error *ngIf="updateForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="updateForm.get('password')?.hasError('pattern')">
            Password must contain at least one uppercase letter, one lowercase
            letter, one digit, and one special character
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            type="password"
          />
          <mat-error *ngIf="updateForm.hasError('passwordMismatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
